<div class="container">
    <div class="filter-toolbar">
        <input (input)="filterUsers($event)" [style]="{ width: '215px' }" pInputText placeholder="Search by name or email" />
        <p-dropdown (onChange)="sortUsers()" [(ngModel)]="sortKey" [options]="sortOptions" [style]="{ width: '150px' }" placeholder="Sort by" />
        <p-dropdown
            (onChange)="filterByCompany()"
            [(ngModel)]="selectedCompany"
            [options]="companyOptions"
            [style]="{ width: '215px' }"
            placeholder="Filter by company"
        />
    </div>
    <div class="card-container">
        @for (user of filteredUsers; track user.id) {
            <p-card [header]="user.name" [style]="{ width: '360px' }" [subheader]="user.email">
                <ng-template pTemplate="header">
                    <img [alt]="user.name" [src]="getAvatarForUser(user.name)" style="width: 100%; height: 200px; object-fit: cover" />
                </ng-template>
                <div class="user-details">
                    <div>
                        <p><strong>Phone:</strong> {{ user.phone | phoneFormat }}</p>
                        <p><strong>Website:</strong> {{ user.website }}</p>
                        <p><strong>Company:</strong> {{ user.company.name }}</p>
                        <p><strong>Address:</strong> {{ user.address.street }}, {{ user.address.city }}</p>
                    </div>
                    <div class="card-footer">
                        <p-button [routerLink]="['/users', user.id]" icon="pi pi-user" label="View Profile" />
                    </div>
                </div>
            </p-card>
        } @empty {
            <p>No users found.</p>
        }
    </div>
</div>
